<header>
  <h1 style="text-align: center;">Welcome to Posts.com</h1>
</header>
<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><i class="bi bi-house fs-3"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-evenly flex-grow-1 pe-3">
          <form id="searchForm" role="search" action="/search/" method="post">
          <input  type="text" class="form-control" placeholder="Search for a post..." required id="searchInput" name="searchquery">
          <button id="searchBtn" type="submit" class="btn btn-light bi bi-search"></button>
          </form>
          <li class="nav-item">
            <a class="nav-link" href="/">All Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Add a Post</a>
          </li>
          <% if (user) { %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person"></i> <%= user.user %>
    </a>
    <ul class="dropdown-menu dropdown-menu-light">
    <li class="nav-item"></li>
            <a class="nav-link dropdown-item link-offset-1-hover" href="/dashboard">Dashboard</a>
          </li>
      <li class="nav-item"></li>
            <a class="nav-link dropdown-item" href="/logout">Logout</a>
          </li>
    </ul>
  </li>
<% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
<% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
