<%-include("includes/head.ejs")  %>
<body>
  <div class="container mt-5">
      <h1 class="bg-success">Success</h1>
      <p class="bg-light">You will be redirected to Posts.com homepage <span id="timer">3</span></p>
    </div>
    <script>
      let count=3;
      const interval= setInterval(() => {
        count--
        document.getElementById("timer").innerText=count
        if(count<=0){
          clearInterval(interval);
          window.location.href="/posts"
        }
      }, 1000);
      </script>
</body>
</html>

