@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f0f0f0;
}
#searchForm{
  position: relative;
}

#searchBtn {
  font-size: medium;
  position: absolute;
  border-radius: 55%;
  bottom: 0;
  margin-left: 9.5rem;
  background: none;
}

.nav-item.active .nav-link{
  text-underline-offset: 6px;
  text-decoration:underline  #a4ddf1;
  text-decoration-thickness: 5px;
} 
.navbar{
  font-weight: 550;
  font-size: large;
   transition: all 0.25s ease;
   box-shadow: 2px 4px 8px -4px rgba(0,0,0,0.25);
}

#loginContainer, #registerContainer{
  box-shadow:5px 8px 10px rgba(0, 0, 0, 0.1) ;
  border-radius: 2%;
}

.form_container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form textarea {
  height: 150px;
}
form button:hover {
  background-color: #cddfd3;
}

footer {
  background-color: #f8f9fa;
  color: #000;
  text-align: center;
  padding: 2rem;
  margin-top: 10%;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.btn {
  margin: 20px;
}
.btn-container{
  margin: 0;
}
#dashboard{
  width: 30%;
  height: max-content;
}
#post_card{
min-width: 400px;
 max-width: 400px; 
 max-height: max-content;
}
#post_card_img{
  width: 220px; 
   height: 220px;
}
#post_card_title h3{
  text-wrap: balance;
}
@media (max-width:700px)
{
 #loginContainer, #registerContainer{
    max-width: 90%;
  }
  #post_card{
   min-width: 80% !important;
   padding: 0;
    margin: 0 auto;
    height: fit-content;
    max-height: fit-content !important;
  }
  #post_card_img{
  object-fit:contain;
    width: 70%;
    height: 30%;
  }
  #dashboard{
    width: 90%;
    height: fit-content;
  }
  #comments, #comments input{
    width: 90% !important;
  }
}

.post_container {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  padding: 10px;
}

#username,#password,#confirmpass {
  border: none;
  border-radius: 0;
  border-bottom:0.5px solid blue;
  background: transparent;
}
#full_post{
  width:100%;
  text-align: center;
}
#full_post pre{
  margin: 0 auto;
  width: 85%;
  text-wrap:wrap;
 text-rendering: optimizeSpeed;
  font-size: 1.5rem;
  font-family: 'Roboto',sans-serif;
  overflow: hidden;
  /* font-weight: 500; */
}
/* #full_post_img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
#full_post img{
  width: 30%;
  height: 30%;
}
#post_card_btns{
  display:inline-flex;
}

.comment-form textarea{
  width: 100%;
  height: 100%;
}
.comments{
margin-top: 0%;
height: max-content;
width: 100%;
 display: grid;
 grid-template-columns: auto;

}

.resetPasswordOuterModal {
  width: 100%;
  height: 120%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
}

.ResetPasswordInnerModal {
  width: 40%;
  max-width: 500px; 
  height: auto; 
  max-height: 80vh; 
  box-shadow: 6px 5px 12px -1px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  text-align: center;
}

.ModalCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0dcaf0;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userProfileImg{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 10px;
}

#hidden{
display: none;
}